.content {
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.options {
    display: flex;
    gap: 16px;
}

.progressions-section {
    margin: 32px auto 32px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.progression-buttons {
    margin-top: 32px;
}

table {
    border-collapse: collapse;
    width: 75%;
    table-layout: fixed;
}
  
td, th {
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 0.5rem;
    text-align: center;
}

mat-slide-toggle {
    padding-left: 24px;
}

.input-chord-progression {
    min-width: 300px;
}

select {
    margin-top: 32px;
}

button {
    margin-left: 4px
}