<div class="content">
  <!-- Head -->
  <h1>{{title}}</h1>

  <span>
    <mat-slide-toggle [checked]="useSharps" (toggleChange)="setUseSharps()">
      flat / sharp
    </mat-slide-toggle>
    <mat-slide-toggle [checked]="true" [disabled]="true">
      minor / major
    </mat-slide-toggle>
  </span>
  <br>

  <!-- Determine the Key -->
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="{{ notes[selected] }}">
      <mat-button-toggle *ngFor="let note of notes" value="{{note}}" (click)="setValue(note)">{{note}}</mat-button-toggle>
  </mat-button-toggle-group>
  <br>
  <p>Chords in major key</p>
  <table>
    <thead><tr>
      <th>I</th>
      <th>ii</th>
      <th>iii</th>
      <th>IV</th>
      <th>V</th>
      <th>vi</th>
      <th>vii</th>
    </tr></thead>
    <tbody><tr>
      <td>{{ chords[0] }}</td>
      <td>{{ chords[1] }}</td>
      <td>{{ chords[2] }}</td>
      <td>{{ chords[3] }}</td>
      <td>{{ chords[4] }}</td>
      <td>{{ chords[5] }}</td>
      <td>{{ chords[6] }}</td>
    </tr></tbody>
  </table> 
</div>