<div class="content">
  <!-- Header -->
  <h1>{{title}}</h1>

  <!-- Options -->
  <span>
    <mat-slide-toggle [checked]="useSharps" (toggleChange)="setUseSharps()">
      flat / sharp
    </mat-slide-toggle>
    <mat-slide-toggle [checked]="useMajor" (toggleChange)="setUseMajor()">
      minor / major
    </mat-slide-toggle>
  </span>
  <br>

  <!-- Determine chords in key -->
  <mat-button-toggle-group value="{{ notes[selected] }}">
      <mat-button-toggle *ngFor="let note of notes" value="{{note}}" (click)="setValue(note)">{{note}}</mat-button-toggle>
  </mat-button-toggle-group>
  <br>
  <p>Chords in the key of {{ notes[selected] }} {{ selectedKey }}</p>
  <table>
    <thead><tr>
      <th *ngFor="let header of selectedPattern" (click)="addChord(header)">{{ header }}</th>
    </tr></thead>
    <tbody><tr>
      <td *ngFor="let chord of chords" (click)="addChord(chord)"> {{ chord }}</td>
    </tr></tbody>
  </table> 

  <div class="progressions-section">
    <div class="content">
      <!-- Create chord progression -->
      <span>
        <mat-form-field class="input-chord-progression" appearance="standard">
          <mat-label>Create your own chord progression</mat-label>
          <input matInput type="text" [(ngModel)]="progression" (input)="progressionOnChange()">
          <mat-hint align="start">e.g. I V vi IV</mat-hint>
          <mat-hint align="end">use space to separate chords<br> use / for new line</mat-hint>
        </mat-form-field>
        <button disabled mat-button matSuffix aria-label="Save" (click)="saveProgression()">
          <mat-icon>done</mat-icon>
        </button>
        <button [disabled]="!progression" mat-button matSuffix aria-label="Clear" (click)="progression=''; created=''; selectedExample=''">
          <mat-icon>close</mat-icon>
        </button>
        <button [disabled]="!progression" mat-button matSuffix aria-label="Enter" (click)="addLineBreak()">
          <mat-icon>subdirectory_arrow_left</mat-icon>
        </button>
      </span>

      <br><br>
      <h3 [innerHtml]="created"></h3>
    </div>

    <!-- Example progressions -->
    <mat-form-field appearance="fill">
      <mat-label>Find an example</mat-label>
      <mat-select [(ngModel)]="selectedExample" name="progression" (selectionChange)="viewExample(selectedExample)">
        <mat-optgroup *ngFor="let group of examples" [label]="group.name">
          <mat-option *ngFor="let example of group.examples" [value]="example.progression">{{ example.name }}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

</div>


