<div class="content">
  <!-- Head -->
  <h1>{{title}}</h1>

  <span>
    <mat-slide-toggle [checked]="useSharps" (toggleChange)="setUseSharps()">
      flat / sharp
    </mat-slide-toggle>
    <mat-slide-toggle [checked]="useMajor" (toggleChange)="setUseMajor()">
      minor / major
    </mat-slide-toggle>
  </span>
  <br>

  <!-- Determine the Key -->
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="{{ notes[selected] }}">
      <mat-button-toggle *ngFor="let note of notes" value="{{note}}" (click)="setValue(note)">{{note}}</mat-button-toggle>
  </mat-button-toggle-group>
  <br>
  <p *ngIf="useMajor">Chords in the key of {{notes[selected]}} major</p>
  <p *ngIf="!useMajor">Chords in the key of {{notes[selected]}} natural minor</p>
  <table>
    <thead><tr>
      <th (click)="addChord('I')">I</th>
      <th (click)="addChord('ii')">ii</th>
      <th (click)="addChord('iii')">iii</th>
      <th (click)="addChord('IV')">IV</th>
      <th (click)="addChord('V')">V</th>
      <th (click)="addChord('vi')">vi</th>
      <th (click)="addChord('vii')">vii</th>
    </tr></thead>
    <tbody><tr>
      <td (click)="addChord('I')">{{ chords[0] }}</td>
      <td (click)="addChord('ii')">{{ chords[1] }}</td>
      <td (click)="addChord('iii')">{{ chords[2] }}</td>
      <td (click)="addChord('IV')">{{ chords[3] }}</td>
      <td (click)="addChord('V')">{{ chords[4] }}</td>
      <td (click)="addChord('vi')">{{ chords[5] }}</td>
      <td (click)="addChord('vii')">{{ chords[6] }}</td>
    </tr></tbody>
  </table> 

  <br><br>
  <mat-form-field class="input-chord-progression" appearance="standard">
    <mat-label>Create your chord progression</mat-label>
    <input matInput type="text" [(ngModel)]="progression" (input)="progressionOnChange()">
    <mat-hint align="start">e.g. I IV iii V</mat-hint>
    <mat-hint align="end">use space to separate chords<br> use / for new line</mat-hint>
    <button *ngIf="progression" mat-button matSuffix aria-label="Clear" (click)="progression=''; created=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br><br>
  <p [innerHtml]="created"></p>
</div>


